@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700&family=Open+Sans:ital,wght@1,600;1,700&family=Roboto:wght@400;700;900&display=swap');
@import url('blocks/header.css');
@import url('blocks/saidbar.css');
@import url('blocks/content.css');
@import url('https://fontawesome.ru/all-icons/');
@import url("https://kit.fontawesome.com/58d1019e60.js" );

.container{
    /* display: flex; */
    /* height: 1024px; */
    background: #b1dbd9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
}
.saidbar{
    float: left;
}
